<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Подписка</title>
    {{categories.name}}

    {% if user not in subscribers %}
        <form action="{% url 'news:subscribe' categories.pk %}" method="Post">
            {% csrf_token %}
            <input type="submit" value="Подписаться"/>
        </form>
    {% else %}
        <form action="{% url 'news:unsubscribe' categories.pk %}" method="Post">
            {% csrf_token %}
            <input type="submit" value="Отписаться"/>
        </form>
    {% endif %}
</head>
<body>

</body>
</html>